[Desktop Entry]
Name=PCCOOLER-LCD Control
Comment=Design, manage, and run PCCOOLER LCD dashboards
Exec=pccooler-lcd-control
Icon=pccooler-lcd-control
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;Graphics;
StartupNotify=true
